hover tr:hover {
        background-color: red;
}

p a:hover
{
        background: inherit;
        color: #000;
}

/* =Hoverbox Code
 * ----------------------------------------------------------------------*/

.hoverbox
{
        cursor: default;
        list-style: none;
}

.hoverbox a
{
        cursor: default;
        color: black;
}

.hoverbox a:visited {
        color: black;
}

.hoverbox a .preview
{
        display: none;
        position: relative
}

.hoverbox a:hover .preview
{
        display: block;
        position: fixed;
        right: 5;
        top: 10;
        z-index: 2;
}

.hoverbox img
{
        color: inherit;
        vertical-align: top;
}

.hoverbox li
{
        color: inherit;
        display: inline;
        float: left;
        margin: 3px;
        padding: 5px;
        position: relative;
}

.hoverbox .preview
{
        width: 250px;
        height: 400px;
}
