<html>
<head>
<title>TCG Price Watch</title>
<link rel="stylesheet" href='/static/css/hoverbox.css' type="text/css" media="screen, projection" />
</head>

<body>
<center><h1>TCGPlayer Daily Price Watch</h1></center>
<ul class="hoverbox">
<table cellpadding=1 cellspacing=2 width='80%'><tr valign='top'>

{% load cards_in_set %}
{% for set in cards  %}
   <td style="border-left: 1px solid black; padding: 5px;"><h3>{{ set }}</h3>
	 {% for card in set|cards_in_set:cards %}
         <table cellpadding=0 cellspacing=2>
         <tr>
            <td width=45>
            {% if card.prev_average > card.average %}
                <font size=2 color='red'></b>${{ card.average }}</b></font>
            {% else %}
               {% if card.prev_average < card.average %}
                   <font size=2 color='#00CC00'><b>${{ card.average }}</b></font>
                {% else %}
                   <font size=2>${{ card.average }}</font>
                {% endif %}
             {% endif %}
            </td>
            <td>
            <a target='_blank' class="hoverbox" href="http://store.tcgplayer.com/products.aspx?name={{ card.name }}" 
              onmouseover="this.children[0].src='http://magic.tcgplayer.com/db/wp-ch.asp?CN={{ card.name|escapejs }}'">
              {{ card.name }}
              <iframe class="preview" width='100' height='100' src='about:blank'></iframe>
            </a>
            </td>
         </tr>
         </table>
   {% endfor %}
   </td>
{% endfor %}
</tr></table>
</ul>
</body>
</html>
