<html>
<head>
<title>TCG Price Watch</title>
</head>

<body>
<center><h1>TCGPlayer Daily Price Watch</h1></center>
<table width='100%'><tr valign='top'>
{% for set in mtgsets %}
   <td><h3>{{ set }}</h3>
   {% for card in latest_prices %}
      {% if card.info.mtgset in set %}
         <table cellpadding=0 cellwidth=0>
         <tr>
            <td width=45>
            {% if card.paverage > card.average %}
                <font size=2 color='red'></b>${{ card.average }}:</b></font>
            {% else %}
               {% if card.paverage < card.average %}
                   <font size=2 color='#00CC00'><b>${{ card.average }}:</b></font>
                {% else %}
                   <font size=2>${{ card.average }}:</font>
                {% endif %}
             {% endif %}
            </td>
            <td>
               {{ card.name }}
            </td>
         </tr>
         </table>
      {% endif %}
   {% endfor %}
   </td>
{% endfor %}
</tr></table>
</body>
</html>
